{% extends 'base.html' %}
{% load static %}

{% block title %}tbjo-shop order complete detail{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'orders/css/order.css' %}" type="text/css" /> 
{% endblock %}

{% block body_content %}
<h1>{{product.name}} 주문 완료</h1>
<h2>주문 번호: {{order.pk}} </h2>
<div class="order-complete">
    <p>지불 금액:{{product.price}}</p>
    <p>지불 수단:{{order.paymentMethod}}</p>
    <p>배송 예정지: {{order.destination}}</p>
</div>
{% endblock %}