{% extends 'base.html' %}
{% load static %}

{% block title %}tbjo-shop order{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static 'orders/css/order.css' %}" type="text/css" /> 
{% endblock %}

{% block body_content %}
<h1>주문하기</h1>
<h3>주문 항목: {{product.name}}</h3>
<form method="POST" class="post-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">저장</button>
</form>
{% endblock %}
